/* Noto Sans KR 및 Comfortaa 웹 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html, body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
    background-color: #AA8967; 
}

.eng {
    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto; 
}

.navbar {
    flex-shrink: 0;
    background-color: #FEA645; 
}

.navbar-brand img {
    height: 40px; /* 네비게이션 바에 맞춘 로고 이미지 높이 설정 */
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.footer {
    background-color: #554F49; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
    flex-shrink: 0; 
}

/* 네비게이션 로고 옆 폰트 */
.logo_font_nav {
    font-size: 110%;
    font-weight: 700;
    vertical-align: bottom;
    margin-left: 5px; 
}

/* 메인 로고 옆 폰트 */
.logo_font_main {
    font-size: 200%;
    font-weight: 700;
    vertical-align: bottom;
    margin-left: 5px; 
}

.logo img {
    height: 60px; 
}

/* 검색창 */
.my-search {
    max-width: 600px;
    margin-top: 20px; 
}

.my-searchbar {  
    padding-top: 25px; /* 위 여백 설정 */
    padding-bottom: 25px; /* 아래 여백 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* 약한 그림자 추가 */
    border: none; /* 기본 테두리 제거 */
}

.search-container .search-icon {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border: none;
}

a {
    color: inherit; /* 부모 요소의 색상을 상속받음 */
    text-decoration: none; /* 밑줄 제거 */
}

a:hover {
    color: inherit; /* 마우스 오버시에도 부모 요소의 색상을 상속받음 */
}

/* 로그인 페이지 */
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-control {
    margin-bottom: 20px;
}
.menu-left{
    text-align: start;
}
.menu-img{
    width: 120px;
    height: 120px;
}
.custom-list-item {
    background-color: inherit; /* 원하는 배경색으로 변경 */
    border-color: burlywood; 
    border-style: dashed;
    border-left: none;
    border-right: none;
}
.custom-people-icon{
    width: 3.5rem;
    height: 3.5rem;
}